.container, .location {
    display: flex;
    height: 300px;
    margin: 0 200px;
}
.location {
    height: 50px;
    margin: 50px auto;
    width: 100vw;
}
.current, .hour24, .hour48{
    flex: 1;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

body {
    background-color: rgb(68, 68, 145);
    text-align: center;
}


.hidden {
    display: none;
}
